@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.modalAnimation {
  animation: slideInFromBottom 0.5s ease-in forwards;
}
